@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #00ff00;
  --grid-color: #003300; /* لون الشبكة */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* إخفاء أي شريط تمرير مزعج */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #004400;
}

/* التنسيق الخاص بشبكة الخلفية */
.bg-grid-green-900 {
  background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
                    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}

@keyframes pulse-slow {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 0.05; }
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite ease-in-out;
}